$color-dark: #1e1e1f;
$color-gray: #3c4043;
$color-lightgray: #575b5d;

$color-white: #fff;
$color-light: #e4e7ea;

$color-primary: #186ef0;
$color-primary-hover: #1562d6;
$color-primary-focus: #1b62c0;
$color-primary-disabled: #639cf1;

$color-secondary: #dc3545;
$color-secondary-hover: #bb2d3b;
$color-secondary-focus: #a52834;
$color-secondary-disabled: #ff7380;